In [ ]:
import tensorflow as tf
tf.test.gpu_device_name()

'/device:GPU:0'

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_excel("/content/Churn_Modelling (1).xlsx")

In [ ]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1.0,15634602.0,Hargrave,619.0,France,Female,42.0,2.0,0.00,1.0,1.0,1.0,101348.88,1.0
1,2.0,15647311.0,Hill,608.0,Spain,Female,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58,0.0
2,3.0,15619304.0,Onio,502.0,France,Female,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57,1.0
3,4.0,15701354.0,Boni,699.0,France,Female,39.0,1.0,0.00,2.0,0.0,0.0,93826.63,0.0
4,5.0,15737888.0,Mitchell,850.0,Spain,Female,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10,0.0

In [ ]:
!pip install -q keras

In [ ]:
x=df.iloc[:,3:13]
y=df.iloc[:,13]

In [ ]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619.0,France,Female,42.0,2.0,0.00,1.0,1.0,1.0,101348.88
1,608.0,Spain,Female,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58
2,502.0,France,Female,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57
3,699.0,France,Female,39.0,1.0,0.00,2.0,0.0,0.0,93826.63
4,850.0,Spain,Female,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771.0,France,Male,39.0,5.0,0.00,2.0,1.0,0.0,96270.64
9996,516.0,France,Male,35.0,10.0,57369.61,1.0,1.0,1.0,101699.77
9997,709.0,France,Female,36.0,7.0,0.00,1.0,0.0,1.0,42085.58
9998,772.0,Germany,Male,42.0,3.0,75075.31,2.0,1.0,0.0,92888.52
9999,792.0,France,Female,28.0,4.0,130142.79,1.0,1.0,0.0,38190.78

In [ ]:
y

0       1.0
1       0.0
2       1.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    1.0
9998    1.0
9999    0.0
Name: Exited, Length: 10000, dtype: float64

In [ ]:
# creating dummy variables
geography=pd.get_dummies(x['Geography'],drop_first=True)
gender=pd.get_dummies(x['Gender'],drop_first=True)

In [ ]:
geography

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [ ]:
gender

      Male
0        0
1        0
2        0
3        0
4        0
...    ...
9995     1
9996     1
9997     0
9998     1
9999     0

[10000 rows x 1 columns]

In [ ]:
# Concatenate the dataframe
x=pd.concat([x,geography,gender],axis=1)

In [ ]:
# Drop the unnecessary column
x=x.drop(['Geography','Gender'],axis=1)

In [ ]:
# Splitting data into train and test set
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
# Feature scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
xtrain=sc.fit_transform(xtrain)
xtest=sc.fit_transform(xtest)

In [ ]:
# Make the ANN
import keras 
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [ ]:
# Initialize the ann
classifier=Sequential()

In [ ]:
# Adding input layer and hidden layer
classifier.add(Dense(units=10,kernel_initializer='he_normal',activation='relu',input_dim=11))
classifier.add(Dropout(0.3))

# Adding second hidden layer
classifier.add(Dense(units=20,kernel_initializer='he_normal',activation='relu'))
classifier.add(Dropout(0.4))

# Adding third hidden layer
classifier.add(Dense(units=15,kernel_initializer='he_normal',activation='relu'))
classifier.add(Dropout(0.2))

# adding the output layer
classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

# Compiling the ann
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

# fitting the ann to training set
model_history=classifier.fit(xtrain,ytrain,validation_split=0.33,batch_size=10,epochs=100)

# Predicting the test result
ypred=classifier.predict(xtest)
ypred=(ypred>0.5)

# Making confusion metrics
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(ytest,ypred)
print(cm)

# Calculate the accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(ypred,ytest)
print(score)

Epoch 1/100
536/536 [==============================] - 4s 6ms/step - loss: 0.5659 - accuracy: 0.7837 - val_loss: 0.5087 - val_accuracy: 0.7955
Epoch 2/100
536/536 [==============================] - 3s 6ms/step - loss: 0.5162 - accuracy: 0.7962 - val_loss: 0.5064 - val_accuracy: 0.7955
Epoch 3/100
536/536 [==============================] - 3s 6ms/step - loss: 0.5041 - accuracy: 0.7966 - val_loss: 0.4550 - val_accuracy: 0.7955
Epoch 4/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4385 - accuracy: 0.8143 - val_loss: 0.4109 - val_accuracy: 0.8167
Epoch 5/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4228 - accuracy: 0.8242 - val_loss: 0.3978 - val_accuracy: 0.8338
Epoch 6/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4268 - accuracy: 0.8272 - val_loss: 0.4095 - val_accuracy: 0.7955
Epoch 7/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4141 - accuracy: 0.8306 - val_loss: 0.4020 - val_accuracy: 0.8220
Epoch 8/100
536/536 [==============================] - 3s 7ms/step - loss: 0.4122 - accuracy: 0.8300 - val_loss: 0.4049 - val_accuracy: 0.8156
Epoch 9/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4135 - accuracy: 0.8265 - val_loss: 0.4088 - val_accuracy: 0.8164
Epoch 10/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4118 - accuracy: 0.8341 - val_loss: 0.4097 - val_accuracy: 0.8156
Epoch 11/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4105 - accuracy: 0.8345 - val_loss: 0.4086 - val_accuracy: 0.8167
Epoch 12/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4129 - accuracy: 0.8293 - val_loss: 0.4193 - val_accuracy: 0.7955
Epoch 13/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4191 - accuracy: 0.8322 - val_loss: 0.4131 - val_accuracy: 0.7955
Epoch 14/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4072 - accuracy: 0.8336 - val_loss: 0.4096 - val_accuracy: 0.7955
Epoch 15/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4057 - accuracy: 0.8326 - val_loss: 0.4063 - val_accuracy: 0.7955
Epoch 16/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4025 - accuracy: 0.8365 - val_loss: 0.4127 - val_accuracy: 0.7955
Epoch 17/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4051 - accuracy: 0.8313 - val_loss: 0.4093 - val_accuracy: 0.8179
Epoch 18/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4084 - accuracy: 0.8315 - val_loss: 0.4217 - val_accuracy: 0.8137
Epoch 19/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4109 - accuracy: 0.8321 - val_loss: 0.4221 - val_accuracy: 0.8126
Epoch 20/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4114 - accuracy: 0.8350 - val_loss: 0.4230 - val_accuracy: 0.7955
Epoch 21/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4071 - accuracy: 0.8287 - val_loss: 0.4181 - val_accuracy: 0.8073
Epoch 22/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4058 - accuracy: 0.8358 - val_loss: 0.4089 - val_accuracy: 0.8179
Epoch 23/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4025 - accuracy: 0.8358 - val_loss: 0.4248 - val_accuracy: 0.7955
Epoch 24/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4052 - accuracy: 0.8339 - val_loss: 0.4208 - val_accuracy: 0.7955
Epoch 25/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4090 - accuracy: 0.8313 - val_loss: 0.4220 - val_accuracy: 0.7955
Epoch 26/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4026 - accuracy: 0.8354 - val_loss: 0.4200 - val_accuracy: 0.7955
Epoch 27/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4063 - accuracy: 0.8315 - val_loss: 0.4190 - val_accuracy: 0.7955
Epoch 28/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3945 - accuracy: 0.8418 - val_loss: 0.4069 - val_accuracy: 0.8152
Epoch 29/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4065 - accuracy: 0.8360 - val_loss: 0.4175 - val_accuracy: 0.7955
Epoch 30/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4055 - accuracy: 0.8313 - val_loss: 0.4063 - val_accuracy: 0.8179
Epoch 31/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4074 - accuracy: 0.8304 - val_loss: 0.4168 - val_accuracy: 0.8145
Epoch 32/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3984 - accuracy: 0.8341 - val_loss: 0.4180 - val_accuracy: 0.8133
Epoch 33/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4009 - accuracy: 0.8384 - val_loss: 0.4209 - val_accuracy: 0.7955
Epoch 34/100
536/536 [==============================] - 4s 7ms/step - loss: 0.4077 - accuracy: 0.8328 - val_loss: 0.4177 - val_accuracy: 0.8148
Epoch 35/100
536/536 [==============================] - 4s 7ms/step - loss: 0.4042 - accuracy: 0.8347 - val_loss: 0.4219 - val_accuracy: 0.7955
Epoch 36/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4039 - accuracy: 0.8352 - val_loss: 0.4126 - val_accuracy: 0.8148
Epoch 37/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4074 - accuracy: 0.8328 - val_loss: 0.4156 - val_accuracy: 0.8152
Epoch 38/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4111 - accuracy: 0.8296 - val_loss: 0.4261 - val_accuracy: 0.7955
Epoch 39/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4074 - accuracy: 0.8308 - val_loss: 0.4268 - val_accuracy: 0.7955
Epoch 40/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4030 - accuracy: 0.8339 - val_loss: 0.4125 - val_accuracy: 0.8171
Epoch 41/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3951 - accuracy: 0.8410 - val_loss: 0.4173 - val_accuracy: 0.8164
Epoch 42/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4020 - accuracy: 0.8375 - val_loss: 0.4259 - val_accuracy: 0.7955
Epoch 43/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3985 - accuracy: 0.8315 - val_loss: 0.4160 - val_accuracy: 0.8164
Epoch 44/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3990 - accuracy: 0.8390 - val_loss: 0.4168 - val_accuracy: 0.8156
Epoch 45/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3973 - accuracy: 0.8408 - val_loss: 0.4159 - val_accuracy: 0.8145
Epoch 46/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4013 - accuracy: 0.8337 - val_loss: 0.4172 - val_accuracy: 0.8145
Epoch 47/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4073 - accuracy: 0.8300 - val_loss: 0.4191 - val_accuracy: 0.8129
Epoch 48/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4028 - accuracy: 0.8343 - val_loss: 0.4256 - val_accuracy: 0.8118
Epoch 49/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4039 - accuracy: 0.8304 - val_loss: 0.4213 - val_accuracy: 0.8152
Epoch 50/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4005 - accuracy: 0.8356 - val_loss: 0.4120 - val_accuracy: 0.8175
Epoch 51/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4008 - accuracy: 0.8304 - val_loss: 0.4228 - val_accuracy: 0.8156
Epoch 52/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4058 - accuracy: 0.8313 - val_loss: 0.4236 - val_accuracy: 0.8145
Epoch 53/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3995 - accuracy: 0.8339 - val_loss: 0.4294 - val_accuracy: 0.7955
Epoch 54/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4003 - accuracy: 0.8354 - val_loss: 0.4221 - val_accuracy: 0.8141
Epoch 55/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3963 - accuracy: 0.8386 - val_loss: 0.4315 - val_accuracy: 0.8050
Epoch 56/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4083 - accuracy: 0.8289 - val_loss: 0.4290 - val_accuracy: 0.8129
Epoch 57/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4030 - accuracy: 0.8349 - val_loss: 0.4354 - val_accuracy: 0.7955
Epoch 58/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4054 - accuracy: 0.8317 - val_loss: 0.4255 - val_accuracy: 0.8133
Epoch 59/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4013 - accuracy: 0.8321 - val_loss: 0.4294 - val_accuracy: 0.8145
Epoch 60/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4018 - accuracy: 0.8341 - val_loss: 0.4243 - val_accuracy: 0.8137
Epoch 61/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4000 - accuracy: 0.8391 - val_loss: 0.4299 - val_accuracy: 0.8129
Epoch 62/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4026 - accuracy: 0.8311 - val_loss: 0.4300 - val_accuracy: 0.7955
Epoch 63/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4047 - accuracy: 0.8364 - val_loss: 0.4265 - val_accuracy: 0.7955
Epoch 64/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4019 - accuracy: 0.8352 - val_loss: 0.4271 - val_accuracy: 0.8145
Epoch 65/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4024 - accuracy: 0.8358 - val_loss: 0.4224 - val_accuracy: 0.8145
Epoch 66/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4001 - accuracy: 0.8360 - val_loss: 0.4251 - val_accuracy: 0.8145
Epoch 67/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4015 - accuracy: 0.8352 - val_loss: 0.4257 - val_accuracy: 0.7955
Epoch 68/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3982 - accuracy: 0.8378 - val_loss: 0.4267 - val_accuracy: 0.7955
Epoch 69/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3931 - accuracy: 0.8367 - val_loss: 0.4254 - val_accuracy: 0.7955
Epoch 70/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3995 - accuracy: 0.8373 - val_loss: 0.4273 - val_accuracy: 0.8148
Epoch 71/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4064 - accuracy: 0.8306 - val_loss: 0.4338 - val_accuracy: 0.7955
Epoch 72/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4006 - accuracy: 0.8367 - val_loss: 0.4300 - val_accuracy: 0.7955
Epoch 73/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4079 - accuracy: 0.8336 - val_loss: 0.4307 - val_accuracy: 0.7955
Epoch 74/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3900 - accuracy: 0.8377 - val_loss: 0.4244 - val_accuracy: 0.8145
Epoch 75/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4048 - accuracy: 0.8343 - val_loss: 0.4334 - val_accuracy: 0.7955
Epoch 76/100
536/536 [==============================] - 4s 8ms/step - loss: 0.4027 - accuracy: 0.8337 - val_loss: 0.4340 - val_accuracy: 0.7955
Epoch 77/100
536/536 [==============================] - 4s 7ms/step - loss: 0.4001 - accuracy: 0.8362 - val_loss: 0.4349 - val_accuracy: 0.7955
Epoch 78/100
536/536 [==============================] - 5s 8ms/step - loss: 0.4037 - accuracy: 0.8321 - val_loss: 0.4340 - val_accuracy: 0.7955
Epoch 79/100
536/536 [==============================] - 4s 7ms/step - loss: 0.3929 - accuracy: 0.8345 - val_loss: 0.4275 - val_accuracy: 0.8129
Epoch 80/100
536/536 [==============================] - 4s 7ms/step - loss: 0.3931 - accuracy: 0.8390 - val_loss: 0.4296 - val_accuracy: 0.8137
Epoch 81/100
536/536 [==============================] - 4s 7ms/step - loss: 0.3988 - accuracy: 0.8339 - val_loss: 0.4259 - val_accuracy: 0.8129
Epoch 82/100
536/536 [==============================] - 4s 7ms/step - loss: 0.4020 - accuracy: 0.8354 - val_loss: 0.4204 - val_accuracy: 0.8148
Epoch 83/100
536/536 [==============================] - 4s 7ms/step - loss: 0.3988 - accuracy: 0.8326 - val_loss: 0.4199 - val_accuracy: 0.8137
Epoch 84/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4138 - accuracy: 0.8280 - val_loss: 0.4298 - val_accuracy: 0.8122
Epoch 85/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4045 - accuracy: 0.8309 - val_loss: 0.4300 - val_accuracy: 0.8133
Epoch 86/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4027 - accuracy: 0.8350 - val_loss: 0.4269 - val_accuracy: 0.8133
Epoch 87/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4091 - accuracy: 0.8270 - val_loss: 0.4302 - val_accuracy: 0.8137
Epoch 88/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4018 - accuracy: 0.8345 - val_loss: 0.4256 - val_accuracy: 0.8133
Epoch 89/100
536/536 [==============================] - 4s 7ms/step - loss: 0.3942 - accuracy: 0.8356 - val_loss: 0.4234 - val_accuracy: 0.8152
Epoch 90/100
536/536 [==============================] - 4s 7ms/step - loss: 0.4013 - accuracy: 0.8367 - val_loss: 0.4290 - val_accuracy: 0.8156
Epoch 91/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3952 - accuracy: 0.8345 - val_loss: 0.4294 - val_accuracy: 0.8152
Epoch 92/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4008 - accuracy: 0.8350 - val_loss: 0.4325 - val_accuracy: 0.8148
Epoch 93/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3945 - accuracy: 0.8391 - val_loss: 0.4290 - val_accuracy: 0.8152
Epoch 94/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4056 - accuracy: 0.8324 - val_loss: 0.4153 - val_accuracy: 0.8160
Epoch 95/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4033 - accuracy: 0.8296 - val_loss: 0.4200 - val_accuracy: 0.8156
Epoch 96/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4002 - accuracy: 0.8360 - val_loss: 0.4302 - val_accuracy: 0.7955
Epoch 97/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4104 - accuracy: 0.8315 - val_loss: 0.4226 - val_accuracy: 0.8152
Epoch 98/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4052 - accuracy: 0.8356 - val_loss: 0.4242 - val_accuracy: 0.8156
Epoch 99/100
536/536 [==============================] - 3s 6ms/step - loss: 0.4015 - accuracy: 0.8324 - val_loss: 0.4158 - val_accuracy: 0.8145
Epoch 100/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3974 - accuracy: 0.8360 - val_loss: 0.4222 - val_accuracy: 0.8148
63/63 [==============================] - 0s 2ms/step
[[1589    6]
 [ 351   54]]
0.8215